html {
    font-family: Verdana, sans-serif;
    color: dimgray;
}

header {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-transform: uppercase;
    font-size: 32px;
}

.logo img {
    height: 64px;
}

.logo .academy {
    color: rgba(0, 0, 0, 0.5);
}

nav {
    margin-right: 24px;
}

nav ul li {
    display: inline-block;
    margin: 0 8px;
    font-size: 24px;
}

#banner {
    display: flex;
    padding: 32px 24px;
    background-color: lightgray;
    align-items: center;
}

#banner .left {
    width: 60%;
}

#banner img {
    width: 100%;
}

#banner .right {
    width: 40%;
    font-size: 2rem;
    padding: 24px;
}

a {
    text-decoration: none;
}

#banner a {
    display: block;
    color: white;
    background-color: dimgray;
    padding: 8px;
    font-size: 1.25rem;
    width: 75%;
    text-align: center;
}

#information {
    display: flex;
    padding: 32px 24px;
}

#information .left {
    width: 60%;
}

#information .left img {
    width: 100%;
}

#information .right {
    width: 40%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

#information .right img {
    width: 35%;
    float: left;
    margin-right: 24px;
}

#information .right div {
    padding: 16px;
}

#information a {
    text-decoration: none;
}

#courses {
    background-color: lightgray;
    padding: 32px 72px;
    text-align: center;
}

#courses .grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

#courses .course {
    text-align: left;
    background-color: white;
}

#courses .course h3,
#courses .course h4,
#courses .course p {
    padding: 16px;
}

#courses .course h4 {
    text-transform: uppercase;
}

#thesis h1 {
    text-align: center;
}

#thesis .grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 24px;
    margin: 24px;
}

#thesis video {
    width: 100%;
}

.exhibit {
    display: flex;
    align-items: center;
}

.exhibit img {
    margin: 16px;
    width: 35%;
}


#guest-lecture,
#fisma {
    background-color: lightgray;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}